@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css');

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb( 23, 24, 31);
  color: azure;
  display: block;
  text-align: center;
  margin: 2rem;
}

main, section, aside {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  border-radius: 0.4rem;
  width: auto;
  max-width: 45rem;
  padding: 1em;
  margin: 1em auto;
  overflow: auto;
  background-color: rgba(23, 24, 31);
  box-shadow: 0px 0.5rem 1rem rgba(238, 239, 243, 0.25);
}

.lance {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: auto;
  max-width: 45rem;
}

#criar-tarefa {
  display: flex;
  
}

.inputo {
  display: flex;
  border-radius: 0.4rem;
  width: 25rem;
  max-width: 65rem;
  padding: 0.6em;
  margin: 2rem;
}

ul {
  display: flex;
  flex-direction: column;
  border-radius: 0.4rem;
  width: 90%;
  max-width: 45rem;
  padding: 2em;
  margin: 1em auto;
  overflow: auto;
}

li {
  clear: both;
  max-width: 43rem;
  margin: 0.3rem;
  padding: 0.6rem;
  border: solid 0.5px rgba(25, 27, 39, 0.247);
  border-radius: 0.6rem;
  background-color:rgb( 39, 40, 51);
  color:rgb(233, 241, 248);
  transition: all 0.5s;
  cursor: pointer;
}

li:hover{
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}

.navi {
  background-color: rgb(124 , 92 , 255 , 1);
}

.completed {
  text-decoration :line-through;
  background-color: rgba(rgba(44, 168, 44, 0.712), .15);
  border-color: rgba(rgb(0, 128, 0), .2);
  color: rgb(2, 97, 2);
}

.selected {
  color: aliceblue;
  background-color: rgba(192, 192, 192, 0.664);
}

.btn-a {
  clear: both;
  padding: 1rem 1.5rem;
  margin: 0.4rem;
  outline-style: groove rgba(185, 217, 253, 0.658);
  border-radius: 0.25rem;
  cursor: pointer;
  background-color: rgb(39, 40, 51);
}

.btn-b {
  clear: both;
  margin: 0.3rem;
  padding: 0.6rem 2.2rem;
  outline-style: groove;
  border-radius: 0.25rem;
  cursor: pointer;
}
